html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: #efefef;
}

div,
span,
p,
dl,
dt,
dd,
ol,
ul,
li {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

a {
    color: #00bcd4;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.4s;
}

a:hover {
    color: #1976d2;
}

.text-center {
    text-align: center;
}

.top-bar {
    padding: 10px 15px;
    margin-bottom: 50px;
}

.top-bar::after {
    content: '';
    display: block;
    clear: both;
}

.top-bar-left {
    float: left;
    font-size: 1.5em;
}

.top-bar-right {
    float: right;
}

.top-bar a,
.nav a {
    margin: 0 8px;
}

.formContainer {
    margin: 0 auto;
    text-align: center;
    width: 700px;
}

.card-heading {
    padding: 16px;
}

.field-line,
.button-line {
    padding: 16px;
}

.error-message {
    padding: 0 16px;
    color: tomato;
}

.success-message {
    padding: 0 16px;
    color: green;
}

.contentBody {
    margin-top: 12%;
}

.containerWrapper {
    margin-top: 6%;
}

.s-row {
    margin: 0 auto;
}

.news-holder {
    min-height: 100%;
    height: auto !important;
    background-color: #efefef;
    position: relative;
    max-width: 100%;
}

.image_wrapper {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.contentWrapper {
    border-bottom: 0;
    border-top: 0;
    margin-bottom: 0;
    position: relative;
}

.news-wrapper {
    position: relative;
    margin: 0;
}

.news-image-wrapper {
    display: block;
}

@media screen and (min-width: 768px) {
    .news-image-wrapper {
        height: 260px;
        width: 100%;
    }
}

.impNewsPanel {
    float: right;
    clear: both;
    display: inline-flex;
    position: fixed;
}

.topNews_wrapper {
    background: #fff;
}

.HeadLinesList {
    margin-left: 4%;
}

.author_holder {
    font-family: 'Vollkorn', serif;
}

.content {
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.info_wrapper {
    padding-bottom: 8px;
}

.info_innerWrapper {
    max-width: 100%;
    color: #6c6d6f;
    font-size: 14px;
    position: relative;
}

.info_linker {
    text-decoration: none;
}

.newsTitle {
    color: #1d1e1f;
    display: inline;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 6px;
    margin-right: 4px
}

.info_innerWrapper>a:hover {
    text-decoration: none;
}

.newsPanel {
    background: #fff;
}

.headlineContent {
    font-size: 12px;
    line-height: 1.2;
    overflow: hidden;
    margin-bottom: 2%;
}

.headlineContent>a {
    color: #716060;
}

.headlineContent>a:hover {
    color: #7c7cde;
    text-decoration-line: none;
}

.scorecard-container .sectionTitle {
    margin-top: 20px;
}

.sectionTitle {
    display: table;
    margin: 26px 0;
    width: 100%;
}

.sectionTitle {
    margin: 0 0 24px;
    text-transform: uppercase;
}

.panelHeader {
    border-bottom: 1px solid #fbf1f1;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: #b19696;
}

.newsDescription {
    color: grey;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: rgb(89, 89, 197);
}

.seasonPanel {
    margin-left: 30px;
    border: 0;
    display: inline-block;
    float: left;
    padding: 0;
    top: 0;
    border: inherit;
    font-size: inherit;
    height: auto;
    letter-spacing: inherit;
    line-height: inherit;
    margin: inherit;
    padding: inherit;
    text-transform: default;
    position: relative;
    text-transform: uppercase;
    margin: 0;
}

.season-dropdown-menu {
    border-radius: 38px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.8px;
    line-height: 1.1;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    transition: background-color 0.2s ease, color 0.2s ease;
    vertical-align: middle;
    border: 1px solid #147cd1;
    color: #147cd1;
    padding: 0;
}

.subNavConfig {
    top: 7%;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.weekHeader {
    background: #efefef;
    color: #777;
}

.subHeader {
    margin-bottom: 4px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.dateHeader {
    background: #efefef;
    color: #777;
}

.even {
    border-top: 2px solid #f1e4e4;
    background-color: #ece6e6;
}

.scorecard-container {
    padding: 0;
    margin-bottom: 60px !important;
    min-height: 100%;
    height: auto !important;
    background-color: #efefef;
    position: relative;
    max-width: 100%;
    margin: 2%;
}

.ss-row {
    zoom: 1;
    width: auto;
}

.ss-row-height {
    border-spacing: 20px;
    display: table;
    margin-bottom: -20px;
    margin-left: -20px;
    margin-top: -20px;
    table-layout: fixed;
    width: calc(100% + 40px);
}


/* .navbar-inverse .navbar-nav>li>a {
    color: white;
} */

.ss-row-height>* {
    border-spacing: 0;
    display: table-cell;
    vertical-align: top;
    width: auto;
}

.gameLocation {
    font-size: 12px;
    color: #5b6c77;
    float: left;
    text-transform: uppercase;
    font-weight: 400;
}

.scorecard-container.ss-row {
    margin-bottom: 30px;
}

.scoreCardWrapper {
    webkit-box-shadow: 0 2px 0 0 rgba(230, 230, 230, 0.5);
    -moz-box-shadow: 0 2px 0 0 rgba(230, 230, 230, 0.5);
    box-shadow: 0 2px 0 0 rgba(230, 230, 230, 0.5);
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    background-color: #fff;
    border: 1px solid #e6e7e9;
    position: relative;
}

.score-innerWrapper {
    clear: both;
    overflow: hidden;
}

.gamedetailBar {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.15;
    padding: 20px 12px 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #5b6c77;
    display: inline-block;
    width: 100%;
}

.gamedetailBar.game-time-info {
    color: #232323;
    font-weight: 400;
    float: left;
    text-transform: uppercase;
    display: inline;
}

.scoreCardWrapper.scorecard-info {
    padding-bottom: 0;
    padding-top: 0;
}

.scoreSection {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    padding: 16px 12px;
    width: 100%;
}

.scoreSection table {
    table-layout: fixed;
    white-space: nowrap;
    width: 100%;
}

.scoreSection tr {
    border-bottom: 0;
}

.scoreSection th {
    text-align: center;
}

.scoreSection th {
    color: #94a1a9;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
    width: 14px;
}

.scoreSection tbody tr:first-child {
    border-bottom: 6px solid transparent;
}

.scoreSection tr {
    border-bottom: 0;
}

.scoreSection td {
    color: #232323;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: right;
    vertical-align: middle;
}

.scoreSection td {
    font-size: 12px;
    text-align: center;
}

.scoreSection td. {
    font-weight: 400;
}

.scoreSection td:first-child {
    text-align: left;
}

.scoreSection td.team-info {
    color: #232323;
    letter-spacing: 0.5px;
    padding-left: 0;
    text-align: left;
    white-space: nowrap;
    width: 60%;
}

.scoreSection td.scores {
    width: 14px;
}

.dateHeaderLabel {
    background: #fff;
    color: #2b2c2d;
    font-size: 16px;
    font-weight: 600;
    height: 44px;
    line-height: 2.8;
    position: relative;
    text-align: left;
    text-transform: capitalize;
}

table.schedule th:first-child:not(.date) {
    width: 130px;
}

.schedule-holder,
.standings-holder {
    min-height: 100%;
    height: auto !important;
    background-color: #efefef;
    position: relative;
    margin: 0 auto;
    transition: opacity .08s ease-in-out;
}

@media screen and (min-width: 768px) {
    .schedule-holder {
        padding: 0 10px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .schedule-holder,
    .standings-holder {
        width: 740px;
        padding: 0;
    }
}

.schedule-content-wrapper,
.standings-content-wrapper {
    background: #fff;
    margin-right: 0;
    padding: 0 20px;
    width: 100%;
}

.content-innerWrapper table td,
.content-innerWrapper table th {
    overflow: hidden;
    position: relative;
}

.content-innerWrapper table thead:first-of-type th {
    height: 22px;
    padding-top: 0;
}

table th:first-child {
    text-align: left;
}

.content-innerWrapper table th {
    border-bottom: 1px #dcdddf solid;
    color: #48494a;
    font-size: 11px;
    font-weight: 600;
    padding: 0 4px;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;
}

@media screen and (max-width: 767px) {
    .outerTableWrapper td:first-child,
    .outerTableWrapper th:first-child {
        padding-left: 20px;
    }
}

@media screen and (max-width: 767px) {
    .outerTableWrapper {
        margin: 0 -20px !important;
    }
}

.content-innerWrapper {
    margin: 0 0 21px;
    overflow: hidden;
    position: relative;
}

.contentTable {
    width: 100%;
}

.outerTableWrapper table {
    border-top: 1px #dcdddf solid;
}

.content-innerWrapper table thead tr,
.content-innerWrapper table thead tr:nth-child(odd) {
    background: none;
    border-top: 0;
}

.content-innerWrapper table tr {
    border-top: 1px solid #f1f2f3;
}

.content-innerWrapper table td {
    overflow: hidden;
    position: relative;
}

.contentTable td {
    color: #6c6d6f;
    font-size: 12px;
    font-weight: 400;
    height: 28px;
    line-height: 1.2;
    padding: 1px 4px 0 4px;
    margin: 0;
    text-transform: none;
    white-space: nowrap;
}

.contentTable td:first-child {
    text-align: left;
}

table.contentTable td {
    padding: 1px 4px 0 4px;
}

.main-section-title {
    height: 28px;
    padding: 0 4px;
    background-color: #1f6ae6;
    border: solid 1px #1f6ae6;
    border-bottom: 0;
    text-align: left;
    vertical-align: middle;
    font-size: 1.16em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.sub-section-title {
    text-transform: uppercase;
    background: #ddd;
    font-weight: 600;
    border: solid 1px #ddd;
    font-family: 'Josefin Slab', serif;
    line-height: 1.15;
    font-size: 1rem;
}

.sort-container {
    font-family: 'Lato', sans-serif;
    width: 100%;
    clear: both;
}

.sort-header {
    height: 25px;
    clear: both;
    background: #0f4871;
    color: #fff;
}

.sort-header h4 {
    color: #fff;
    margin: 0;
    padding: 0 0 0 10px;
    font-family: helvetica, arial, sans-serif;
    font-size: 1rem;
    line-height: 25px;
    letter-spacing: .3px;
}

.sorttable-content {
    padding: 0 !important;
    margin-bottom: 6px;
    border-bottom-width: 1px;
    padding-bottom: 2px;
    background: #fff;
    font-size: 11px;
    overflow: hidden;
    font-family: 'Vollkorn', serif;
}

.tableContent td {
    margin: 0 auto;
}

.tablewrapper {
    border-collapse: separate !important;
    border-spacing: 1px;
    margin: 0;
    padding: 0;
    width: 100%;
}

table.optionData {
    margin: 0 0 20px 0;
    padding: 0;
    border-collapse: collapse;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.2em;
    width: 100%;
}

table.optionData td {
    padding: 7px 4px;
}

table.optionData .tableSectionHeader td {
    text-transform: uppercase;
    background: #ddd;
    font-weight: 700;
    border: solid 1px #ddd;
}

table.optionData tr.tableTitle td {
    height: 28px;
    padding: 0 4px;
    background-color: #1f6ae6;
    border: solid 1px #1f6ae6;
    border-bottom: 0;
    text-align: left;
    vertical-align: middle;
    font-size: 1.16em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

table.optionData .tableLabel td {
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Vollkorn', serif;
}

table.optionData .statsTableLabel td {
    background-color: #5a5ac7;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-family: 'Vollkorn', serif;
}

.tableContent td a {
    text-decoration: none;
}

table.optionData tr td a {
    text-decoration: none;
}

.sorttable-content-innerwrapper {
    padding-top: 2%;
    padding-bottom: 30px;
}

.statsPanel {
    width: 790px;
    margin: 0 auto;
    padding: 0;
    border: 0;
    padding: 2% 0;
    background: #fff;
}

table.optionData .tableLabel th {
    background-color: #fff;
    border: 1px solid #f5f5f5;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

table.optionData th {
    padding: 7px 4px;
}

.statsContent {
    background: #fff;
}

table.optionData tbody .even td,
table.optionData tbody .odd td {
    border-right: 1px solid #f5f5f5;
}

.pagination li>a {
    cursor: pointer;
}