html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: #efefef;
}

a {
    color: #00bcd4;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.4s;
}

a:hover {
    color: #1976d2;
}

.text-center {
    text-align: center;
}

.top-bar {
    padding: 10px 15px;
    margin-bottom: 50px;
}

.top-bar::after {
    content: '';
    display: block;
    clear: both;
}

.top-bar-left {
    float: left;
    font-size: 1.5em;
}

.top-bar-right {
    float: right;
}

.top-bar a,
.nav a {
    margin: 0 8px;
}

.formContainer {
    margin: 0 auto;
    text-align: center;
    width: 700px;
}

.card-heading {
    padding: 16px;
}

.field-line,
.button-line {
    padding: 16px;
}

.error-message {
    padding: 0 16px;
    color: tomato;
}

.success-message {
    padding: 0 16px;
    color: green;
}

.contentBody {
    margin-top: 12%;
}

.containerWrapper {
    margin-top: 6%;
}

.s-row {
    margin: 0 auto;
}

.news-holder {
    height: 100%;
    min-height: 100%;
    height: auto !important;
    background-color: #efefef;
    position: relative;
    max-width: 100%;
}

.image_wrapper {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.contentWrapper {
    border-bottom: 0;
    border-top: 0;
    margin-bottom: 0;
    position: relative;
}

.news-wrapper {
    position: relative;
    margin: 0;
}

.news-image-wrapper {
    display: block;
}

@media screen and (min-width: 768px) {
    .news-image-wrapper {
        height: 260px;
        width: 100%;
    }
}

.impNewsPanel {
    float: right;
    clear: both;
    display: inline-flex;
    position: fixed;
}

.topNews_wrapper {
    background: #fff;
}

.HeadLinesList {
    margin-left: -10%;
}

.author_holder {
    font-family: 'Vollkorn', serif;
}

.content {
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.info_wrapper {
    padding-bottom: 8px;
}

.info_innerWrapper {
    max-width: 100%;
    color: #6c6d6f;
    font-size: 14px;
    position: relative;
}

.info_linker {
    text-decoration: none;
}

.newsTitle {
    color: #1d1e1f;
    display: inline;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 6px;
    margin-right: 4px
}

.info_innerWrapper>a:hover {
    text-decoration: none;
}

.newsPanel {
    background: #fff;
}

.headlineContent {
    font-size: 12px;
    line-height: 1.2;
    overflow: hidden;
    margin-bottom: 2%;
}

.headlineContent>a {
    color: #716060;
}

.headlineContent>a:hover {
    color: #7c7cde;
    text-decoration-line: none;
}

.panelHeader {
    border-bottom: 1px solid #fbf1f1;
}

.newsDescription {
    color: grey;
}

a.active {
    color: #000000 !important;
    text-decoration: underline !important;
}

.subNavConfig {
    top: 7%;
    position: fixed;
    width: 100%;
    z-index: 1000;
}